language: node_js
node_js:
  - "lts/*"

env:
  - IS_CI_ENV=true

script:
- npm run lint && npm test

# Update files which need the right version number, build the packed
# release, install the nfpm tool and build the release deb package.
before_deploy:
- version=${TRAVIS_TAG/v/}
- npm version --no-git-tag-version ${version}
- npm run release
- "curl -sL https://github.com/goreleaser/nfpm/releases/download/v0.9.5/nfpm_0.9.5_Linux_x86_64.tar.gz | tar -C /tmp -xzf -"
- /tmp/nfpm pkg -t cacophony-browse_${version}.deb

deploy:
  provider: releases
  api_key:
    secure: sWMMOQ+Qs4YXruUEFroRTmkslEziX/78S3mlCF5ctNBjR8mK+31oRWFxqMwsCIxRwcFa03m3+4CjpYJOaejo1/2tpwGDSAO7zpR92qQ2VPV7JpBXDV0Yd5qGilVovc8L6iiJJeyCsU9PnALcRWVy4lSObrDj7L9yE+ywa/9MbXshJyVgXmUdLWvqaES7HiZ1kRZCfw8yXYgTKIlpp9BfnACi81wjUKVy5QlsZ1jPQaflhGgSfDVkpSI/4fXO2Q0p2itqhiuVzR6mPIak6ldv3+COV1S43oJ4RUdfY+2wmIWsPNgexmaUtiIker4LoWi41ivvKGhGyfjw5gC/8CDtQdL60UYthV8Vv8WDTK2GtbAVuMZro2d6zW6xOAkegCaLqG+H7gJx8e2DRdSrPrTxxo+ejSNC+KTEBlE62lFphk7OHQkGj7iZZSfQ3ltzrtmfWOc2ZhbLlMdR6fdlyuJ6iPqunmgsEuz0uAR7Tuk3lEpD3smmH7c1cXuT/U+FGTZeEAUGTRBVj05L3LcN3SB+oij+AL24iWxZPmgpvL/YMLeMbr4f0Y+gxcn2o4dPOWJjanAyLHUU3JHmxgdB0z8xWNzQEPrMoOAwVM4/jpZIA6hx+rk3v1vqADV5rx1/E2E0FSwz7HiKKzAWR8MHPzfRmfI2OiivdbBj+l7Bk+rmFj4=
  skip_cleanup: true
  file_glob: true
  file: "*.deb"
  on:
    tags: true
    repo: TheCacophonyProject/cacophony-browse
