@import '~bootstrap/scss/bootstrap.scss';

h1 {
    font-size: x-large;
    margin: 1.5rem 0;
}

.logo,
.navbar-light .navbar-brand a {
  width: 220px;
  height: 46px;
  background-image: url("../assets/titlebar.png");
  background-image: url("../assets/titlebar.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

/* search */
.search-filter-wrapper {
  --search-panel-width: 280px;
  --search-panel-offset: -280px;
}


/* recordings */

.simple-accordion-wrapper {
  border-bottom: 1px solid #eee;
}

.simple-accordion-header {
  cursor: pointer;
  margin-top: 0.5em;
}

.simple-accordion-header .pointer {
  float: right;
}

/* pagination */
.page-item.active .page-link {
  z-index: 0;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

@import "login-register.css";
@import "admin.scss";
